/*
Theme Name: Assignment2
Author: Thai Tran
Author URI: http://thai.wdd2018.work/wpa
Description: Assignment2 is an interesting project that is produced by using wordpress. It helps the author have more knowledge of Wordpress development.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Assignment2
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something interesting, have joyful, and share what you've explored with others.
*/

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: small;
  font-family: "Lucida Grande", Verdana, Arial, Sans-serif;
  background: #fff url(img/gradient.gif) repeat-x top left;
}

a {
  color: #7E7E7E;
}

a:hover {
  color: black;
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  content: "\201C";
}

blockquote:after {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  content: "\201D";
}

blockquote p {
  display: inline;
}

/* Main container */

#content {
  margin: 0 auto 0 auto;
  width: 960px;
}

#content-wrap {
  margin: 0;
  width: 960px;
  clear: both;
  box-shadow: 0 0 8px #555;
  -moz-box-shadow: 0 0 8px #555;
  -webkit-box-shadow: 0 0 8px #555;
}

/* For each post */

.article-content3 {
  width: 300px;
  float: left;
  margin: 10px 10px;

}

.article-content3 a:link {
  color: #606060;
}

.readmore {
  float: right;
}

/* For each column in page */

.onecol {
  clear: both;
  width: 960px;
}

#leftcol {
  float: left;
  width: 210px;
  padding: 0 0 15px 10px;
  margin-top: 15px;
}

#rightcol {
  float: left;
  width: 740px;
  margin: 15px 0 15px 0;
  border-left: 1px solid #ccc;
  padding: 15px;
}



/* Site navigation */

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav ul:before, .site-nav ul:after {
  content: "";
  display: table;
}

.site-nav ul:after {
  clear: both;
}

.site-nav ul {
  *zoom: 1;
}

.site-nav ul li {
  list-style: none;
  float: left;
}

/* Top Menu */
.wrapper-top {
  float: right;
  margin-bottom: 10px;
}

.site-top ul.topitem li {
  float: left;
  list-style: none;
  text-decoration: none;
  margin: 0 5px;
  vertical-align: bottom;
}

.site-top nav ul li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dotted #9A9A9A;
}

.site-top nav ul li:last-child { 
  border-right: none; 
}

.site-top nav ul li a:link,
.site-top nav ul li a:visited {
  text-decoration: none;
  color: #9A9A9A;
}

.site-top nav ul li.current-menu-item a:link,
.site-top nav ul li.current-menu-item a:visited {
  color: #FD8100;
}


/* Primary Menu */
.site-header {
  background-color: #157188;
}

.site-header nav ul li {
  margin-right: 2px;
  background-color: #157188;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
  display: block;
  padding: 10px 18px;
  border: 1px solid #BBB;
  border-bottom: none;
  text-decoration: none;
  color: #FFF;
}

.site-header nav ul li a:hover {
  background-color: #4FB1C8;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited {
  background-color: #4FB1C8;
  color: #FFF;
}

/* Footer */

#footer {
  clear: both;
  height: 90px;
  padding: 15px 0;
  background-color: #157188;
  border-top: 1px solid #ccc;
  background-image: url(img/footer.jpg);
}

.wrapper {
  margin: 0 auto;
  overflow: auto;
  clear: both;
}

.wrapper-footer {
  max-width: 600px;
}

.wrapper-bottom {
  max-width: 470px;
}

.site-footer nav ul li {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dotted #FFF;
}

.site-footer nav ul li:last-child { 
  border-right: none; 
}

.site-footer nav ul li a:link,
.site-footer nav ul li a:visited {
  text-decoration: none;
  color: #FFF;
}

.site-footer nav ul li.current-menu-item a:link,
.site-footer nav ul li.current-menu-item a:visited {
  color: #FD8100;
}

/* Copyright style */
#copyright {
  text-align: center;
  color: #FFF;
  background-color: #157188;
  margin: 0 auto;
  max-width: 450px;
}

/* For a single page */
.pageh1 {
  color: #00627D;
  text-transform: uppercase;
}

.pageh2 {
  color: #FC7700;
}

/* left navigation */

.left-nav ul {
  margin: 10px;
  padding: 0;
}

.left-nav ul:before, .left-nav ul:after {
  content: "";
  display: table;
}

.left-nav ul:after {
  clear: both;
}

.left-nav ul {
  *zoom: 1;
}

.left-nav ul li {
  list-style: square;
}

.left-nav ul li.current_page_item a:link,
.left-nav ul li.current_page_item a:visited {
  color: #FC7D00;
}

/* Post item */

.postbox {
  border: 1px solid #EAEAEA; 
  overflow: auto; 
  margin: 10px; 
  padding: 5px;  
  display: flex;
}

.postthumb {
  float: left; 
  width: 150px;
}

.postcontent {
  float: left; 
  width: 520px;
  padding: 15px;
}

.postlearnmore {
  color: #007F94; 
  float: right;
}

/* Veterinarian */

.vetbox {
  border: 0; 
  overflow: auto; 
  margin: 10px; 
  padding: 5px; 
  display: flex;
}

.vetthumb {
  float: left; 
  width: 150px;
}

.vetcontent {
  float: left; 
  width: 520px;
  padding: 15px;
}

.vetright {
  color: #007F94; 
  float: right;
}

/* Post item */

.postitem {
  border: 1px; 
  overflow: auto; 
  margin: 10px; 
  padding: 5px;  
}





